<ul>
	<li class="full">
		<%= link_to t('file_upload.theme_upload'), theme_uploads_url(:theme_id => @theme.id), :class => 'assets_iframe' %> 
	</li>
	<li class="full">
		<%= link_to t('file_upload.new_theme_upload'), new_theme_upload_url(:theme_id => @theme.id), :class => 'ajax' %> 
	</li>
</ul>


<% unless get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), 'text/css').empty? %>
<ul class="full">
	<h3><%= t('theme.css_files') %></h3>
	<% get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), 'text/css').each do |upload| %>
		<li class="full">
			<%= link_to upload.theme_file.original_filename, upload_files_eiditing_path(:theme_id => @theme.id, :name => upload.theme_file.original_filename) %>
		</li>
	<% end %>
</ul>
<% end %>

<% unless get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), 'application/javascriptapplication/x-javascript').empty? %>
<ul class="full">
	<h3><%= t('theme.js_files') %></h3>
	<% get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), 'application/javascriptapplication/x-javascript').each do |upload| %>
		<li class="full">
			<%= link_to upload.theme_file.original_filename, upload_files_eiditing_path(:theme_id => @theme.id, :name => upload.theme_file.original_filename) %>
		</li>
	<% end %>
</ul>
<% end %>


<% unless get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), 'image/').empty? %>
<ul class="full">
	<h3><%= t('theme.images') %></h3>
	<% get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), 'image/').each do |upload| %>
		<li class="full">
			<%= link_to upload.theme_file.original_filename, upload.theme_file.url, :class => 'popup'  %>
		</li>
	<% end %>
</ul>
<% end %>

<% unless get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), '').empty? %>
<ul class="full">
	<h3><%= t('theme.others') %></h3>
	<% get_by_mime_type(ThemeUpload.find_all_by_theme_id(@theme.id), '').each do |upload| %>
		<li class="full">
			<%= link_to upload.theme_file.original_filename, upload.theme_file.url, :class => 'popup'  %>
		</li>
	<% end %>
</ul>
<% end %>