<%= render '/shared/tiny' %>
<% unless @item_data_content.nil? or !@item_data_content.item.theme_item.item_kind.to_s.eql?('Text') %>
<div class="image_manager">
<p><%= link_to t('file_upload.upload_common_files'), common_files_url, :class => 'assets_iframe' %> </p>
</div>

<div class="toggle_editor">
<%= form_for @item_data_content, :url => "/update_item_data_contents?id=#{@item_data_content.id}", :remote => true, :html => {:rel => 'tiny'} do |f| %>
<%= f.hidden_field :locale, :value => @item_data_content.locale %>
<%= f.hidden_field :name, :value => @item_data_content.name %>
<%= f.text_area :content, :class => 'tinymce' %>
<p><%= f.submit t('common.save') %></p>
<% end %>

</div>
<% else %>
<textarea id="item_data_content_content" style="display:none"></textarea>


<% end %>