<div style="clear:both">
	<%= form_for @item_data_content, :url => "/update_item_data_contents?id=#{@item_data_content.id}", :remote => true do |f| %>
		<%= f.hidden_field :locale, :value => @item_data_content.locale %>
		<%= f.hidden_field :name, :value => @item_data_content.name %>
		<%= f.text_area :content %>
		<p>
			<%= f.submit t('common.save') %>
		</p>
	<% end %>
</div>