
<div id="item_data_content_form", class="editor_content">
	<%= render '/item_datas/edit_content' %>
</div>
<div class="image_gallery" style="display:none">
<% if @theme_item  %>
	<p>
		<%= link_to t('file_upload.collection_uploads'), assets_url(:collection_id => @item.id), :class => 'assets_iframe button_link' %>
	</p>
	<% Asset.find_all_by_collection_id(@item.id).each do |asset| %>
		<div class="left">
			<%= link_to image_tag(asset.image.url(:thumb) ), "#data#{asset.id}", :id => "inline"  %>
			<div style="display:none; overflow:hidden">
				<div id="data<%= asset.id %>">
					<% get_available_locales.each do |the_locale| %>
						<p>
							<%= link_to get_long_version(the_locale), edit_asset_url(asset, :language => the_locale) %>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
</div>



<% if false %>
	 | <a href="javascript:;" id="insert_content">Bild einsetzen</a>
	<script type="text/javascript" charset="utf-8">
		$('#insert_content').live('click', function(){
			if($("#input_link").attr("src") == ''){
				alert('Wählen Sie bitte zuerst ein Bild aus');
			}else{
				$('.tinymce').tinymce().execCommand('mceInsertContent',false, '<img src=' + $("#input_link").attr("src") + '></img>');
			}
		});

	</script>
<% end %>