<ul id="root">
	<p><%= link_to t('page.reorder_root_level'), '/reorder_pages?parent=none' %></p>
	<% for page in @pages %>
		<li>
			<span class="span-left"><%= page.name %></span>
			<span class="span-right"><%= link_to t('page.edit'), edit_page_path(page), :class => 'ajax' %> |
			<% unless page.theme.theme_items.empty? %>
			<%= link_to t('page.edit_content'), edit_content_path(:item_id => get_content_id(page)) %> |
			<% end %>
			<%= link_to t('common.delete'), page, :method => :delete, :confirm => t('common.confirm') %>
			<% unless page.sub_pages.empty? %></span>
			<ul class="sub">
				<p><%= link_to t('page.reorder_sub_level'), "/reorder_pages?parent=#{page.id}" %></p>
				<% for sub_page in page.sub_pages %>
					<li>
						<span class="span-left"><%= sub_page.name %></span>
						<span class="span-right"><%= link_to t('page.edit'), edit_page_path(sub_page), :class => 'ajax'  %> |
						<% unless sub_page.theme.theme_items.empty? %>
						<%= link_to t('page.edit_content'), edit_content_path(:item_id => get_content_id(sub_page)) %> |
						<% end %>
						<%= link_to t('common.delete'), sub_page, :method => :delete, :confirm => t('common.confirm') %></span>
					</li>
				<% end %>
			</ul>
			<% end %>
		</li>
	<% end %>
</ul>