<ul id="root">
	<% @pages.each_with_index do |page, index| %>
		<li>
			<span class="span-left"><%= page.name %></span>
			<span class="span-right">
			<% unless page.theme.theme_items.empty? %>
			<%= link_to t('page.edit_content'), edit_content_path(:page_id => page), :class => 'edit_link button_link' %> 
			<% end %>
			<%= link_to t('page.edit'), edit_page_path(page), :class => 'ajax edit_link  button_link' %>
			<%= link_to t('common.delete'), page, :method => :delete, :confirm => t('common.confirm'), :class => 'edit_link  button_link' %>
			<% if index == 0 %>
				<%= link_to t('page.reorder_root_level'), '/reorder_pages?parent=none', :class => 'button_link' %>
			<% end %>
			<% unless page.sub_pages.empty? %></span>
			<ul class="sub">
				<% page.sub_pages.each_with_index do |sub_page, sub_index| %>
					<li>
						<span class="span-left"><%= sub_page.name %></span>
						<span class="span-right">
						<% unless sub_page.theme.theme_items.empty? %>
						<%= link_to t('page.edit_content'), edit_content_path(:page_id => sub_page), :class => 'edit_sub_link  button_link' %> 
						<% end %>
						<%= link_to t('page.edit'), edit_page_path(sub_page), :class => 'ajax edit_sub_link  button_link'   %> 
						<%= link_to t('common.delete'), sub_page, :method => :delete, :confirm => t('common.confirm'), :class => 'edit_sub_link  button_link' %>
						<% if sub_index == 0 %>
							<%= link_to t('page.reorder_sub_level'), "/reorder_pages?parent=#{page.id}", :class => 'button_link' %>
						<% end %>
						</span>
					</li>
				<% end %>
			</ul>
			<% end %>
		</li>
	<% end %>
</ul>