<%= render '/shared/simple_tiny' %>
<%= form_tag asset_path(@asset), :method => :put do  %>
	<%= hidden_field_tag 'language', @asset_description.language %>
	<%= text_area_tag 'description', @asset_description.content, :class => 'tinymce' %><br/>
	<p><%= submit_tag t('common.save') %> <%= link_to t('common.cancel'), "/edit_content?from_asset=#{@asset.id}", :class => 'button_link' %></p>
<% end %>